.cart-screen {
	@include animation(cart-screen-appear 350ms ease-in-out);
	background-color: $white;
	cursor: default;

	.cart-screen-navigation {
		margin: 2em 0 0 2em;

		.cart-screen-navigation-button {
			background-color: transparent;
			border: none;

			.cart-screen-navigation-button-icon {
				@include iconSize;
				margin-right: 1em;
				vertical-align: middle;
			}

			.cart-screen-navigation-button-text {
				font-family: $medium;
				font-size: 1.5em;
				vertical-align: middle;

				.emphasis {
					color: $orange;
					font-family: $bold;
				}
			}

			&:active {
				opacity: 0.7;
			}

			&:hover {
				@include animation(bounce 980ms both);
			}
		}
	}

	.cart-screen-content {
		margin: 2em;

		.cart-screen-title {
			font-family: $medium;
			font-size: 1.2em;
			letter-spacing: -0.5px;

			.cart-screen-icon {
				@include iconSize;
				color: $orange;
				vertical-align: middle;
			}
		}

		.cart-screen-divider {
			margin: 1em 0;
		}

		.cart-screen-items {
			.cart-screen-items-list {
				list-style: none;

				> li {
					margin: 1em 0 0 3em;

					.cart-screen-items-list-sneaker-image {
						@include filter(drop-shadow(4px 4px 4px #00000080));
						border-radius: 50%;
						border: 5px double #00000030;
						margin-top: 2em;
						pointer-events: none;
					}

					.cart-screen-items-list-sneaker-description {
						margin: $spacing;
					}

					.cart-screen-items-list-remove-item-button {
						background-color: transparent;
						border: none;
						cursor: default;

						.cart-screen-items-list-remove-item-icon {
							@include iconSize;
							@include transition(250ms);
							cursor: pointer;
							color: $orange;
							font-weight: 700;
							vertical-align: middle;

							&:hover {
								color: #ff0000;
							}

							&:active {
								color: $orange;
								scale: .8;
							}
						}

						&::after {
							@include transform(translateX(-30%));
							@include transition(transform 300ms ease, opacity 800ms ease);
							opacity: 0;
							content: attr(aria-label);
							display: inline-block;
							font-family: $mediumItalic;
							font-size: 0.8em;
							pointer-events: none;
						}

						&:hover {
							&::after {
								@include transform(translateX(0));
								opacity: 1;
								color: $fullBlack;
							}
						}
					}
				}
			}
		}

		.cart-screen-confirm-order {
			bottom: 0;
			position: fixed;
			right: 0;

			.cart-screen-confirm-order-button {
				@include transition(300ms);
				border-radius: 15px;
				border: 5px double #00000030;
				cursor: pointer;
				font-family: $medium;
				margin: 1em 2em;
				outline: none;
				padding: 15px;

				.cart-screen-confirm-order-icon {
					@include iconSize;
					color: $orange;
					margin-right: 0.5em;
					vertical-align: middle;
				}

				.cart-screen-confirm-order-text {
					color: $fullBlack;
					font-family: $medium;
					vertical-align: middle;
				}

				&:hover {
					opacity: 0.7;
				}

				&:active {
					border: 5px double #00000080;
					font-family: $bold;
					opacity: 1;
					scale: 0.9;
				}
			}
		}
	}
}

@include keyframes(cart-screen-appear) {
	from {
		@include transform(translateX(-100%));
		opacity: 0;
	}

	to {
		@include transform(translateX(0));
		opacity: 1;
	}
}

@include keyframes(bounce) {

	0%,
	20%,
	50%,
	80%,
	100% {
		@include transform(translateX(0));
	}

	40% {
		@include transform(translateX(-30px));
		opacity: 0.5;
	}

	60% {
		@include transform(translateX(-15px));
	}
}
