.favorite-screen {
	@include animation(favorite-screen-appear 350ms ease-in-out);
	background-color: $white;
	cursor: default;
	inset: 0;
	overflow: auto;
	position: fixed;
	width: auto;
	z-index: -10;

	.favorite-container {
		display: flex;
		flex-direction: column;
		margin: calc($headerHeight + 15px) 15px 15px 15px;

		.favorite-screen-title {
			font-family: $extraBold;
			font-size: 1.5em;
			text-align: center;

			.favorite-screen-title-icon {
				@include iconSize;
				margin-right: 5px;
				vertical-align: middle;
			}
		}

		.favorite-screen-sneakers {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;

			.favorite-screen-sneaker {
				display: flex;
				flex-direction: column;

				.favorite-screen-sneaker-image-frame {
					margin-top: 15px;

					.favorite-screen-sneaker-image {
						border-radius: 50%;
						border: 5px double #00000030;
						height: 150px;
						margin: 1em 0;
						width: 150px;
					}

					.favorite-screen-sneaker-image-description {
						font-family: $medium;
						font-size: .8em;
						text-align: center;
					}
				}

				.favorite-screen-sneaker-actions {
					display: flex;
					justify-content: space-evenly;
					margin-top: 1em;

					:where(.go-to-purchase, .remove-from-favorites) {
						@include transition(300ms);
						cursor: pointer;
						padding: 5px;

						:where(.go-to-purchase-icon, .remove-from-favorites-icon) {
							@include iconSize;
							margin-left: 2.5px;
							vertical-align: middle;
						}

						&:hover {
							opacity: 0.6;
						}

						&:active {
							font-family: $bold;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

@include keyframes(favorite-screen-appear) {
	from {
		@include transform(translateY(-100%));
		opacity: 0;
	}

	to {
		@include transform(translateY(0));
		opacity: 1;
	}
}
