.filter-screen {
	@include animation(filter-screen-appear 200ms ease-in-out);
	@include filter(drop-shadow(1em 0 2rem #1f1f1f80));
	background-color: #1f1f1f;
	border-right: 2px solid #1f1f1f;
	color: $white;
	display: flex;
	flex-direction: column;
	height: calc(100vh - $headerHeight);
	left: 0;
	overflow: auto;
	padding: calc($headerHeight + 15px) 15px;
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 20vw;
	z-index: -1;

	.help-text {
		text-align: center;

		:where(.explanatory-text, .explanatory-icon) {
			color: $orange;
		}

		.explanatory-icon {
			vertical-align: middle;
		}

		&:first-child {
			margin-bottom: 1em;
		}
	}

	.filter-actions {
		display: flex;
		flex-direction: row;
		justify-content: center;

		:where(.unapply-filter, .apply-filter) {
			@include transition(150ms);
			background-color: transparent;
			border-radius: 5px;
			color: $white;
			cursor: pointer;
			font-family: $bold;
			margin-bottom: $headerHeight;
			outline: none;
			padding: 1em;
			pointer-events: stroke;

			&:hover {
				opacity: .6;
			}

			&:active {
				@include filter(invert(1));
				font-family: $extraBold;
				opacity: 1;
				scale: 0.95;
			}
		}

		.apply-filter {
			flex-grow: 1;
		}

		.unapply-filter {
			margin-right: 1em;

			.unapply-filter-icon {
				@include iconSize;
				vertical-align: middle;
			}
		}
	}

	.filter-section {
		margin: 1em 0;

		.filter-category {
			font-family: $extraBoldItalic;
			margin-bottom: 1em;
		}

		.filter-options {
			display: flex;
			flex-direction: column;

			.filter-option {
				align-items: center;
				display: flex;
				margin-bottom: 1em;
				pointer-events: stroke;

				.filter-radio {
					accent-color: $orange;
					cursor: pointer;
					height: 1.2em;
					margin-right: 0.5em;
					width: 1.2em;
				}

				.filter-label {
					font-size: .8em;
				}
			}
		}
	}
}

@include keyframes(filter-screen-appear) {
	from {
		@include transform(translateX(-100%));
	}

	to {
		@include transform(translateX(0));
	}
}
