.filter-screen {
	@include animation(filter-screen-appear 200ms ease-in-out);
	@include filter(drop-shadow(1em 0 2rem #1f1f1f80));
	background-color: #1f1f1f;
	border-right: 2px solid #1f1f1f;
	color: $white;
	display: flex;
	flex-direction: column;
	height: calc(96.5vh - $headerHeight);
	left: 0;
	overflow: auto;
	padding: 15px;
	pointer-events: none;
	position: absolute;
	top: $headerHeight;
	width: 20vw;

	.text-in-quotation-marks {
		color: $orange;
	}

	.apply-filter {
		@include transition(300ms);
		background-color: transparent;
		border-radius: 15px;
		border: 2px inset $orange;
		color: $orange;
		cursor: pointer;
		font-family: "RethinkSans Bold", sans-serif;
		letter-spacing: 1px;
		outline: none;
		padding: 15px;
		pointer-events: stroke;

		&:hover {
			opacity: .6;
		}

		&:active {
			color: $white;
			font-family: "RethinkSans Extra Bold", sans-serif;
			opacity: 1;
		}
	}

	.filter-section {
		margin: 1em 0;

		.filter-category {
			font-family: "RethinkSans Extra Bold Italic", sans-serif;
			margin-bottom: 1em;
		}

		.filter-options {
			display: flex;
			flex-direction: column;
			pointer-events: stroke;

			.filter-label {
				font-size: .8em;
				margin-bottom: 1em;
			}

			.filter-radio {
				accent-color: $orange;
				height: 1.2em;
				width: 1.2em;
			}

			:where(.filter-radio, .filter-label) {
				cursor: pointer;
			}
		}
	}
}

@include keyframes(filter-screen-appear) {
	from {
		@include transform(translateX(-100%));
	}

	to {
		@include transform(translateX(0));
	}
}
