.navbar {
	align-items: center;
	background-color: $orange;
	border-bottom: 2px solid $fullBlack;
	cursor: default;
	display: flex;
	flex-direction: row;
	height: $headerHeight;
	justify-content: space-between;

	.logo-area {
		cursor: pointer;
		display: inherit;

		.logo-icon {
			@include iconSize;
			display: inline;
			margin: $spacing;
			vertical-align: middle;
		}

		.logo-title {
			letter-spacing: -1px;

			.emphasis-title-font {
				font-family: "RethinkSans Extra Bold", sans-serif;
			}
		}
	}

	.link-area {
		display: inherit;

		.link-nav {
			@include animation(link-show 500ms both);
			color: $fullBlack;
			cursor: pointer;
			margin: $spacing;
			text-decoration: none;

			@for $linkNavIndex from 1 through 4 {
				&:nth-child(#{$linkNavIndex}) {
					animation-delay: #{150ms * $linkNavIndex};
				}
			}

			.link-to-path {
				transition-duration: 300ms;

				&:hover {
					opacity: .3;
				}

				&:active {
					opacity: 1;
				}
			}
		}
	}

	.search-area {
		display: inherit;
		margin: $spacing;

		.search-label {
			margin: 0;
			padding: 0;
		}

		#search-input {
			background-color: $white;
			border-radius: 0.15em;
			border: .5px solid $fullBlack;
			outline: none;
			padding: 5px;
			transition-duration: 300ms;

			&:hover {
				background-color: #ffffff;
			}

			&:active {
				opacity: .9;
			}
		}

		.search-icon {
			@include iconSize;
			cursor: pointer;
			display: inline;
			transition-duration: 300ms;
			vertical-align: middle;

			&:hover {
				opacity: .3;
			}

			&:active {
				opacity: 1;
			}
		}
	}
}

@include keyframes(link-show) {
	from {
		@include transform(translateY(1em));
		opacity: 0;
	}

	to {
		@include transform(translateY(0));
		opacity: 1;
	}
}
