.navbar {
	align-items: center;
	background-color: $orange;
	border-bottom: 2px solid $fullBlack;
	cursor: default;
	display: flex;
	flex-direction: row;
	font-size: 1rem;
	height: $headerHeight;
	justify-content: space-between;

	.logo-area {
		@include transition(150ms);
		cursor: pointer;
		display: inherit;
		margin: $spacing;

		.logo-title {
			letter-spacing: -1.5px;

			.emphasis-title-font {
				font-family: "RethinkSans Extra Bold", sans-serif;
			}
		}

		&:active {
			opacity: .5;
		}
	}

	.link-area {
		display: inherit;

		.link-nav {
			@include animation(link-show 500ms both);
			color: $fullBlack;
			cursor: pointer;
			margin: $spacing;
			text-decoration: none;

			@for $child from 1 through 4 {
				&:nth-child(#{$child}) {
					@include animation-delay(#{150ms * $child});
				}
			}

			.link-to-path {
				@include transition(300ms);

				&:hover {
					opacity: .5;
				}

				&:active {
					opacity: 1;
				}
			}
		}
	}

	.icons-area {
		display: inherit;

		:where(.favorite, .filter) {
			@include transition(300ms);
			cursor: pointer;

			:where(.favorite-icon, .filter-icon) {
				@include iconSize;
				cursor: pointer;
				vertical-align: bottom;

				~ .icon-description {
					margin: 0 2.5px;
					position: relative;
				}
			}

			&:hover {
				opacity: .5;
			}

			&:active {
				opacity: 1;
			}
		}

		.filter {
			margin: $spacing;
		}
	}
}

@include keyframes(link-show) {
	from {
		@include transform(translateY(1em));
		opacity: 0;
	}

	to {
		@include transform(translateY(0));
		opacity: 1;
	}
}
