:is(.masculine, .feminine, .teens, .collections) {
	color: $white;
	display: flex;
	flex-direction: column;
	font-size: 4em;
	min-height: 100vh;
	min-width: 100vw;
	padding: calc($headerHeight / 4) 0;

	.section-title {
		cursor: default;
		font-family: "RethinkSans Extra Bold", sans-serif;
		margin: 0 15px;
	}

	:where(.masculine-sneakers, .feminine-sneakers, .teens-sneakers, .collection-sneakers) {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		width: 100%;

		:where(.masculine-sneaker-photo, .feminine-sneaker-photo, .teens-sneaker-photo, .collection-sneaker-photo) {
			@include filter(drop-shadow(4px 4px 4px #00000080));
			border-radius: 50%;
			border: 5px solid $white;
			height: 250px;
			margin-top: 1em;
			pointer-events: none;
			width: 250px;
		}
	}
}

.masculine {
	background-color: $masculineColor;
}

.feminine {
	background-color: $feminineColor;
}

.teens {
	background-color: $teensColor;
}

.collections {
	background-color: $collectionsColor;
}
