:is(.masculine, .feminine, .teens, .collections) {
	color: $white;
	cursor: default;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: calc($headerHeight / 4) 0;

	.section-title {
		font-family: "RethinkSans Extra Bold", sans-serif;
		font-size: 4em;
		margin: 40px 0 0 15px;
	}

	.content {
		padding: 15px;

		.about {
			margin-bottom: 2em;
		}

		.sneakers {
			display: flex;
			justify-content: space-around;
			flex-direction: row;
			width: 100%;

			.sneaker-photo {
				@include filter(drop-shadow(4px 4px 4px #00000080));
				@include transition(800ms);
				border-radius: 50%;
				border: 5px solid $white;
				cursor: pointer;
				height: 250px;
				width: 250px;

				&:hover {
					@include transform(rotateY(360deg) translateY(-1em));
					@include filter(brightness(0.8));
				}
			}

			.sneaker-photo-subtitle {
				font-family: "RethinkSans Medium Italic", sans-serif;
				font-size: 1rem;
				margin-top: .5em;
				text-align: center;
			}
		}
	}
}

.masculine {
	background-color: $masculineColor;
}

.feminine {
	background-color: $feminineColor;
}

.teens {
	background-color: $teensColor;
}

.collections {
	background-color: $collectionsColor;
}
