.modal {
	@include backdrop-filter(blur(50px));
	border: none;
	color: $fullBlack;
	height: 100%;
	inset: 0;
	position: fixed;
	width: 100%;
	z-index: 30;

	.modal-container {
		display: flex;
		flex-direction: column;
		margin: 15px;

		.modal-actions-area {
			display: flex;
			justify-content: center;
			margin-bottom: 1em;

			.modal-button {
				@include transition(300ms);
				cursor: pointer;
				font-family: $extraBold;
				padding: 5px;

				> .button-icon {
					@include iconSize;
					vertical-align: middle;
				}

				&:hover {
					opacity: 0.7;
				}

				&:active {
					opacity: 1;
					scale: 0.9;
				}
			}
		}

		.modal-sneaker-area {
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			.modal-image-title {
				text-align: center;
				font-family: $medium;
				font-size: 1.5em;

				&::first-letter {
					font-family: $extraBold;
					font-size: 1.6em;
					text-decoration: underline;
				}
			}

			.modal-image {
				@include filter(drop-shadow(4px 4px 4px #00000080));
				border-radius: 50%;
				border: 2.5px double #00000030;
				height: 300px;
				margin-top: 1em;
				width: 300px;
			}

			.modal-prices {
				.modal-original-price {
					color: #adff2f;
					font-family: $extraBold;
					font-size: 3em;

					.or {
						color: $fullBlack;
						font-family: $medium;
						font-size: 1rem;
					}
				}

				.modal-installments {
					list-style: none;

					.modal-installment-price {
						font-family: $medium;
						font-size: .85em;
						margin: 2.5px 0;
						text-align: right;
					}
				}
			}
		}
	}
}
