.highlight-subtitle {
	margin: .5em 0;
	text-align: center;
}

.sneaker-highlight {
	display: flex;
	flex-direction: row;
	margin-bottom: 5em;

	.highlight-photo {
		height: 500px;
		object-fit: cover;
		width: 100%;
	}
}
