@charset "utf-8";

//* Fonts
@import "./fonts.scss";

//* Variables, mixins, functions and others things
@import "./variablesMixinsAndOthers.scss";

//* Style files
@import "./tagLayout.scss";
@import "./extras.scss";

//* Components
@import "./components-style/Header.scss";
@import "./components-style/FavoriteScreen.scss";
@import "./components-style/FilterScreen.scss";
@import "./components-style/CartScreen.scss";
@import "./components-style/SneakerHighlight.scss";
@import "./components-style/Section.scss";
@import "./components-style/SneakerModal.scss";
@import "./components-style/Footer.scss";

//* Global
* {
	font-family: $regular;
	font-synthesis: none;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;

	&::selection {
		background-color: #560056;
		color: $white;
	}
}
