//. Fonts
@import "./fonts.scss";

//. Variables, mixins, functions and others things
@import "./variablesMixinsAndOthers.scss";

//. Style files
@import "./tagLayout.scss";

//. Components
@import "./components-style/Header.scss";
@import "./components-style/SneakerHighlight.scss";
@import "./components-style/Masculine.scss";
@import "./components-style/Feminine.scss";
@import "./components-style/Teens.scss";
@import "./components-style/Collections.scss";

//. Global
* {
	font-family: "RethinkSans Regular", sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

*::selection {
	background-color: #560056;
	color: $white;
}
