header {
	@include sticky(0);
	display: flex;
	flex-direction: column;
	z-index: 10;
}

body {
	background-color: $white;
}

footer {
	background: transparent;
	cursor: default;
	display: flex;
	flex-direction: column;
	padding: 15px;
	z-index: 10;
}
