//- Variables
$bold: "RethinkSans Bold", sans-serif;
$boldItalic: "RethinkSans Bold Italic", sans-serif;
$collectionsColor: #008236;
$extraBold: "RethinkSans Extra Bold", sans-serif;
$extraBoldItalic: "RethinkSans Extra Bold Italic", sans-serif;
$feminineColor: #19a39c;
$fullBlack: #000000;
$headerHeight: 3em;
$italic: "RethinkSans Italic", sans-serif;
$masculineColor: #1642b2;
$medium: "RethinkSans Medium", sans-serif;
$mediumItalic: "RethinkSans Medium Italic", sans-serif;
$orange: #ff9900;
$regular: "RethinkSans Regular", sans-serif;
$semiBold: "RethinkSans Semi Bold", sans-serif;
$semiBoldItalic: "RethinkSans Semi Bold Italic", sans-serif;
$spacing: 0 1em;
$teensColor: #880000;
$white: #bababa;

//- Mixins
@mixin iconSize {
	height: 1.5em;
	width: 1.5em;
}

@mixin sticky($stickyValue) {
	position: sticky;
	position: -webkit-sticky;
	top: $stickyValue;
}

@mixin linear-gradient($linearGradientProperties...) {
	background: linear-gradient($linearGradientProperties);
	background: -moz-linear-gradient($linearGradientProperties);
	background: -o-linear-gradient($linearGradientProperties);
	background: -webkit-linear-gradient($linearGradientProperties);
}

@mixin transform($transformProperties...) {
	transform: $transformProperties;
	-o-transform: $transformProperties;
	-ms-transform: $transformProperties;
	-webkit-transform: $transformProperties;
	-moz-transform: $transformProperties;
}

@mixin transition($transitionProperties...) {
	transition: $transitionProperties;
	-moz-transition: $transitionProperties;
	-o-transition: $transitionProperties;
	-webkit-transition: $transitionProperties;
}

@mixin filter($filterProperties...) {
	filter: $filterProperties;
	-ms-filter: $filterProperties;
	-webkit-filter: $filterProperties;
}

@mixin backdrop-filter($backdropFilterProperty) {
	backdrop-filter: $backdropFilterProperty;
	-webkit-backdrop-filter: $backdropFilterProperty;
}

@mixin animation($animationProperties...) {
	animation: $animationProperties;
	-moz-animation: $animationProperties;
	-ms-animation: $animationProperties;
	-o-animation: $animationProperties;
	-webkit-animation: $animationProperties;
}

@mixin animation-delay($animationDelayProperty) {
	animation-delay: $animationDelayProperty;
	-moz-animation-delay: $animationDelayProperty;
	-o-animation-delay: $animationDelayProperty;
	-webkit-animation-delay: $animationDelayProperty;
}

@mixin keyframes($animationName) {
	@keyframes #{$animationName} {
		@content;
	}

	@-moz-keyframes #{$animationName} {
		@content;
	}

	@-ms-keyframes #{$animationName} {
		@content;
	}

	@-o-keyframes #{$animationName} {
		@content;
	}

	@-webkit-keyframes #{$animationName} {
		@content;
	}

}
