//- Variables
$fullBlack: #000000;
$spacing: 0 1em;
$white: #f6f6f6;
$orange: #ff9900;
$masculineColor: #1642b2;
$feminineColor: #19a39c;
$teensColor: #880000;
$collectionsColor: #008236;
$headerHeight: 3em;

//- Mixins
@mixin iconSize {
	height: 2em;
	width: 2em;
}

@mixin sticky($stickyValue) {
	position: sticky;
	position: -webkit-sticky;
	top: $stickyValue;
}

@mixin transform($transformProperties...) {
	transform: $transformProperties;
	-o-transform: $transformProperties;
	-ms-transform: $transformProperties;
	-webkit-transform: $transformProperties;
	-moz-transform: $transformProperties;
}

@mixin transition($transitionProperties...) {
	transition: $transitionProperties;
	-moz-transition: $transitionProperties;
	-o-transition: $transitionProperties;
	-webkit-transition: $transitionProperties;
}

@mixin filter($filterProperties...) {
	filter: $filterProperties;
	-ms-filter: $filterProperties;
	-webkit-filter: $filterProperties;
}

@mixin animation($animationProperties...) {
	animation: $animationProperties;
	-moz-animation: $animationProperties;
	-ms-animation: $animationProperties;
	-o-animation: $animationProperties;
	-webkit-animation: $animationProperties;
}

@mixin animation-delay($animationDelayProperty) {
	animation-delay: $animationDelayProperty;
	-moz-animation-delay: $animationDelayProperty;
	-o-animation-delay: $animationDelayProperty;
	-webkit-animation-delay: $animationDelayProperty;
}

@mixin keyframes($animationName) {
	@keyframes #{$animationName} {
		@content;
	}

	@-moz-keyframes #{$animationName} {
		@content;
	}

	@-ms-keyframes #{$animationName} {
		@content;
	}

	@-o-keyframes #{$animationName} {
		@content;
	}

	@-webkit-keyframes #{$animationName} {
		@content;
	}

}
